

body{
    /* background-color: pink; */
    margin: 0;
    padding: 0;
    color: white;
}


h6{ margin-top: 0px; }


.transition-page{    
    height: 60vh;
    width: 100vw;
    text-align: center;
    background-attachment: fixed;

}

a{
    text-decoration: none;
}


/* Set the background color of the plain transition pages */
.blue-bg{ background-color: #2356DD;}

.navy-bg{ background-color: #172637;}

.orange-bg{ background-color: #DD5747; }

.smokeywhite-bg{background-color: #EBE5DD;}

.teal-bg{ background-color: #4E9EBA; }

.white-bg{ background-color: #fff; }


header nav{
    background-color: #4E9EBA;
    color: #BDBDBD;
}

/* NAV MENU STYLING */
header nav{
    height:5vh;
    padding-top:20px;
    padding-bottom: 20px;
}

header nav img{
    padding-top: 20px;
}
header nav ul{ 
    float: right;
    margin-right: 10em;
}
header nav ul li{
    margin-right:1em;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight:900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
span.numbered{
    padding-top: 10px;
    padding-right:5px;
    font-size:.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header nav li a{
    text-decoration: none;
    color: #BDBDBD;
}

header nav a:hover{
    color: #fff;
}

header nav ul li{
    display: inline-flex;
    text-decoration: none;
}

.full-width{
    width:100vw;
    height: 100vh;
    background-attachment: scroll;
}

h6{
    font-size: 1.5em;
}

h2{
    font-weight: bold;
    font-size: 3em;
}


/* THEME SWITCHER */
/* The switch - the box around the slider */

nav .theme-switch{
    float: right;
}
.switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BDBDBD;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2356DD;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2356DD;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* HERO AREA STYLING */

.orange-bg h6{
    padding-top: 200px;
}
    




.copy-info{
    height: 4em;
    width: 100vw;
    
}


