@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/lifelogo-easy');
@import url('http://fonts.cdnfonts.com/css/arial');
@import url('http://fonts.cdnfonts.com/css/anonymous-pro');

                
@font-face {
    font-family: 'peace_sansregular';
    src: url('peace_sans-webfont.eot');
    src: url('peace_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('peace_sans-webfont.woff2') format('woff2'),
         url('peace_sans-webfont.woff') format('woff'),
         url('peace_sans-webfont.ttf') format('truetype'),
         url('peace_sans-webfont.svg#peace_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{

    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    background-color: #2356DD;
    color: white;
}

h1{ 
    margin-top: 0;
    font-size: 4em;
    font-family: 'peace_sansregular', Arial, sans-serif; 
}

h2{ 
    margin-top: 0;
    font-family: 'peace_sansregular', Arial, sans-serif;
    font-size: 4.2em;
}



.transition-page{    
    height: 60vh;
    width: 100vw;
    text-align: center;
    line-height: 100vh;
    background-attachment: fixed;

}
.transition-page .white-bg h6{
    color: #616161;
}
a{
    text-decoration: none;
}


/* Set the background color of the plain transition pages */
.blue-bg{ background-color: #2356DD;}

.navy-bg{ background-color: #172637;}

.orange-bg{ background-color: #DD5747; }

.orange-txt{color: #DD5747; }

.yellow-txt{color:#EFD473; }

.blue-txt{color: #1F5F8C;}

.smokeywhite-bg{background-color: #EBE5DD;}

.teal-bg{ background-color: #4E9EBA; }

.white-bg{ background-color: #fff; }


header nav{
    color: #BDBDBD;
    font-family: 'Arial CE MT Black', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

header .logo{
    width: 5em;
    height: 5em;
}

/* HEADER STYLING */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6%;
}


.logo{
    cursor: pointer;
}
/* NAV MENU STYLING */
/* header nav{
    height:5vh;
    padding-top:20px;
    padding-bottom: 20px;
}

header nav img{
    padding-top: 20px;
}
header nav ul{ 
    float: right;
    margin-right: 10em;
}
*/
.avatar{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url("../images/muiruri.gif");
    background-position: center 20%;
    
}

nav a:visited{
    color: white;
}

header nav ul li{
    font-weight: bold;
    margin-right:1.5em;
    font-size: 1.2em;
    text-transform: uppercase;    
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
} 
span.numbered{
    padding-top: 10px;
    color: #BDBDBD;
    padding-right:10px;
    font-size:.8em;
    font-weight: 400;
    color: #EEE;
    font-family: 'Anonymous Pro', sans-serif;
}


span.outline{
    color: rgba(283,283,283, .6);
    
}
header nav li a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
}


header nav ul li{
    display: inline-block;
    text-decoration: none;
}

nav li a{
    transition: all 0.3s ease 0s;
}
header nav li a:hover{
    color:#fff;
}

.full-width{
    width:100vw;
    height: 100vh;
    background-attachment: scroll;
}

h6{ 
    font-family: 'Lifelogo Easy', sans-serif;
    margin-top: 0 !important;
    margin-bottom: none !important;
    font-weight: regular;
    font-size: 2em;
 }

h6{
    font-size: 1.5em;
    margin: 0;
}

h2{
    font-weight: bold;
    font-size: 3em;
}

.aboutme-page{
    background-image: url("../images/networkmeshbg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.aboutme-page p {
    margin-top:0;
    padding-top: 0;
    font-size: 1.2em;

}


/* THEME SWITCHER */
/* The switch - the box around the slider */

nav .theme-switch{
    float: right;
}
.switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #172637;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2356DD;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2356DD;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* HERO AREA STYLING */

.orange-bg h6{
    padding-top: 200px;
}
    



.hero{
    width: 100vw;
    display: grid;
    grid-template-columns:1fr 2fr;
    justify-items: center;
    align-items: center;

}

.hero-img{
    /* margin-top: 100px;
    margin-right: 50px; */
    width: 300px;
    height: 300px;
}

.hero-usp{
    margin-top: 12em;
    margin-left: 10em;
    
}

/* ABOUT ME SECTION */

.aboutme-page{
    padding-top: 20%; 
    text-align: center;
    color: #191919;
}

.aboutme-page p{
    color: #616161;
    font-weight: 600;
    line-height:2;
    width: 60%;
    margin:0 auto;
}

.aboutme-page h6{
    color: #616161;
    font-size: 3em;
}


/* WORK ROLE PAGE */

.work-role{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
}



.work-role design-left h1{
    color: #EBE5DD;
    margin-bottom: 2px !important;
}

.work-role .bottom-container h1{
    color: color:rgb(31,95,140);
}

.design-left{
    display: grid;
    background-color: rgb(31,95,140);
    color: white;
    grid-column:1/8;
    grid-row:1/6;
    justify-items: center;
    /* align-items: center; */
    
    
}

.design-left img{
    width: 400px;
    height: 400px;
}

.top-right-container{
    display: grid;
    justify-content: center;
    align-content: center;
}
.top-right-container img{
    width: 200px;
    height: 200px;
}

.top-containers{
    display: flex;
    background-color: pink;
    grid-column: 8/13;
    grid-row: 1/3;

}

.top-left-container{
    display: grid;
    background-color:#4E9EBA;
    justify-content: center;
    align-content: center;
    width: 70%;
}

.top-right-container{
    background-color:#172637;
    width: 43%;

}

.bottom-container{
    background-color: #EBE5DD;
    grid-column: 8/13;
    grid-row: 3/6;
    display: grid;
    justify-items: center;
    align-content: center;

}
.bottom-container p{
    color:#191919;
}


span.role-number{
    font-family: 'peace_sansregular', Arial, sans-serif;
    font-size: 5em;
    color: rgb(235,229,221);
    
}


footer{

    background-image:linear-gradient(rgba(221,87,71, 0.7), rgb(221,87,71)), 
    url('../images/world-map.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 

    display: grid;
    justify-items: center;
    
}

.copy-info{
    height: 5em;
    width: 100vw;
    text-align: center;
    
}


footer .logo{
    width: 100px;
    height: 50px;
    margin-left: 2em;
}


