/* This is the custom style sheet for portfolio website with colored theme. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/lifelogo-easy');
@import url('http://fonts.cdnfonts.com/css/arial');
@import url('http://fonts.cdnfonts.com/css/anonymous-pro');
@import url('http://fonts.cdnfonts.com/css/maxxi-serif');


@font-face {
    font-family: 'peace_sansregular';
    src: url('peace_sans-webfont.eot');
    src: url('peace_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('peace_sans-webfont.woff2') format('woff2'),
         url('peace_sans-webfont.woff') format('woff'),
         url('peace_sans-webfont.ttf') format('truetype'),
         url('peace_sans-webfont.svg#peace_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* GLOBAL STYLES */

/* Default custom style overriding user agent styles */

a{ text-decoration: none; }

body{
    background-color: #2356DD;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    overflow-x: hidden;
    padding: 0;

}

h1{ 
    font-family: 'peace_sansregular', Arial, sans-serif; 
    font-size: 4em;
    margin-top: 0;

}

h2{ 
    font-family: 'peace_sansregular', Arial, sans-serif;
    font-size: 4.2em;
    margin-top: 0;
}


.full-width{
    background-attachment: scroll;
    height: 95vh;
    width:100vw;

}


/* Transition pages for introducing sections and for parallax effect */

.transition-page{    
    background-attachment: fixed;
    height: 60vh;
    line-height: 100vh;
    text-align: center;
    width: 100vw;

}


/* Set the background color classes for plain transition pages */

.blue-bg{ background-color: #2356DD; }

.blue-txt{ color: #1F5F8C; }

.navy-bg{ background-color: #172637; }

.orange-bg{ background-color: #DD5747; }

.orange-txt{ color: #DD5747; }

.smokeywhite-bg{ background-color: #EBE5DD; }

.teal-bg{ background-color: #4E9EBA; }

.white-bg{ background-color: #fff; }

.yellow-txt{ color:#EFD473; }


/* HEADER STYLES */

.avatar{
    background-image: url("../images/muiruri.gif");
    border-radius: 50%;
    background-position: center 20%;
    height: 200px;
    margin: 0 auto;
    width: 200px;
    
}

header nav li a:hover{ color:#fff; }

header nav{
    color: #BDBDBD;
    font-family: 'Maxxi Serif', sans-serif;
    font-size: 1em;
    font-weight: 300;

}

header .logo{
    width: 5em;
    height: 5em;

}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1% 6%;

}

header nav ul li{
    font-size: 1.2em;
    font-weight: bold;
    margin-right:1.5em;
    text-transform: uppercase;    
    
} 

header nav li a{  
    color: #BDBDBD;
    text-decoration: none;
    text-transform: uppercase;

}


header nav ul li{
    display: inline-block;
    text-decoration: none;

}

h6{ 
    font-family: 'Lifelogo Easy', sans-serif;
    margin-top: 0 !important;
    margin-bottom: none !important;
    font-weight: regular;
    font-size: 2em;
 }

h6{
    font-size: 1.5em;
    margin: 0;
}

h2{
    font-weight: bold;
    font-size: 3em;
}

.logo{ cursor: pointer; }

span.outline{ font-family: 'Maxxi Serif Outline', sans-serif; }

nav a:visited{ color: #BDBDBD;; }

nav li a{ transition: all 0.3s ease 0s; }

span.numbered{
    color: #EEE;
    font-size:.8em;
    font-weight: 400;
    font-family: 'Anonymous Pro', sans-serif;
    padding-right:10px;
    padding-top: 10px;

}

/* About me section */

.aboutme-page{
    background-image: url("../images/networkmeshbg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutme-page p {
    font-size: 1.2em;
    margin-top:0;
    padding-top: 0;

}


/* Theme switcher for colored and dark theme */

nav .theme-switch{
    float: right;
}

input:checked + .slider { background-color: #2356DD; }

input:focus + .slider { box-shadow: 0 0 1px #2356DD; }

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-transform: translateX(26px);

}

.switch {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 4em;

}

/* Hide default HTML checkbox */

.switch input {
    height: 0;
    opacity: 0;
    width: 0;

}

.slider {
    background-color: #172637;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    transition: .4s;
    -webkit-transition: .4s;

}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

}
  


.slider.round { border-radius: 34px; }

.slider.round:before { border-radius: 50%; }


/* Hero area styling */

.hero{
    align-items: center;
    display: grid;
    grid-template-columns:1fr 2fr;
    justify-items: center;
    width: 100vw;

}

.hero-img{    
    height: 300px;
    width: 300px;

}

.hero-usp{
    margin-left: 10em;
    margin-top: 12em;
    
}

/* ABOUT ME SECTION */

.aboutme-page{
    color: #191919;
    padding-top: 10%; 
    text-align: center;

}

.aboutme-page p{
    color: #616161;
    font-weight: 600;
    line-height:2;
    width: 60%;
    margin:0 auto;

}

.aboutme-page h6,  .final-words h6{
    color: #616161;
    font-size: 3em;

}


/* PORTFOLIO SECTION */

.dock{
    background-color:#4E9EBA;
    color: #fff;
    display: flex;
    height: 5em;
    width: 400px;

}

.dock ul{ display: block; }

.dock ul li{ 
    display: inline-flex;
    margin-right: 2em;

}


.portfolio-page ul li a{ color: #fff; }

.portfolio-page ul li{ list-style: none; }

.portfolio-container{ 
    margin: 1em 2em; 
    width: 20%;
}


.portfolio-item img{
    background: pink;
    height:250px;
    width: 500px;
    
}

.portfolio-footer ul li{
    color: #fff;
    display: inline-flex;
    font-weight: bold;
    margin-right: 1em;

}

.portfolio-footer a:visited{ color: white; }

.portfolio-footer{
    padding-top: 5em;
    text-align: center;
    width: 100%;

}

.portfolio-summary{
    background-color: #fff;
    height: 300px;
    width: 500px;
    
}


/* WORK ROLE SECTION */
/* Using a css grid to position containers and elements  */

.work-role{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
}

.work-role design-left h1{
    color: #EBE5DD;
    margin-bottom: 2px !important;

}

.work-role .bottom-container h1{
    color: color:rgb(31,95,140);

}

.design-left{
    background-color: rgb(31,95,140);
    color: white;
    display: grid;
    grid-column:1/8;
    grid-row:1/6;
    justify-items: center;
         
}

.design-left img{
    height: 400px;
    width: 400px;

}

.top-right-container{
    align-content: center;
    display: grid;
    justify-content: center;

}

.top-right-container img{
    width: 200px;
    height: 200px;

}

.top-containers{
    background-color: pink;
    display: flex;
    grid-column: 8/13;
    grid-row: 1/3;

}

.top-left-container{
    align-content: center;
    background-color:#4E9EBA;
    display: grid;
    justify-content: center;
    width: 70%;

}

.top-right-container{
    background-color:#172637;
    width: 43%;

}

.bottom-container{
    align-content: center;
    background-color: #EBE5DD;
    grid-column: 8/13;
    grid-row: 3/6;
    display: grid;
    justify-items: center;

}

.bottom-container p{ color:#191919; }


span.role-number{
    font-family: 'peace_sansregular', Arial, sans-serif;
    font-size: 5em;
    color: rgb(235,229,221);
    
}

.final-words{
    background-image: url("../images/binarycode.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


/* FOOTER SECTION */

.contact-container{
    margin: 0 auto;
    width: 50%;
    padding: 5em;

}
.message-btn{
    border: none;
    background-color: ;  
}

.message-btn{
    background-color: #4EAACA;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-weight: 600;
    font-size: 1.5 em;
    height: 3em;
    text-transform: uppercase;
    width: 100%;
    
}
.message-btn:hover{
    background-color:#1F5F8C;
    cursor: pointer;
}

form{ width: 80%; }

form h1{ padding-bottom: 0; }

form .form-inputs{
    background-color: #EBE5DD;
    border: none;
    border-radius: 3px;
    color: #191919;
    display: block;
    height: 2em;
    margin-bottom: .7em;
    padding: .5em 0;
    padding-left:.5em;
    width: 100%;
   
}

form label{    
    font-weight: bold;
    position: relative;
    right: 2em;
    top: 2em;

}
form label:hover{ cursor:pointer;}
.form-inputs:focus, textarea:focus {
    background-color: #fff;
    outline:none !important

}




textarea{
    background-color: #EBE5DD;
    border: none;
    border-radius: 3px;
    color: #191919;
    display: block;
    width: 100%;
    height: 10em;
}


footer{
    background-image:linear-gradient(
    rgba(221,87,71, 0.9),
    rgb(221,87,71)),
    url('../images/world-map.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; 
    /* display: grid; */
    justify-content: center;
    
}

footer .logo{
    height: 50px;
    margin-left: 2em;
    width: 100px;

}

form p{ width: 80%; }
.copy-info{
    height: 5em;
    width: 100vw;
    text-align: center;
    
}




